.App {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.films {
display: flex;
flex-direction: row;
}

.filminfo {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.filmdesc {
  text-align: left;
}

button {
  height: fit-content;
  margin-top: 15px;
}

.name{
  font-size: 10px;
  line-height: 100%;
}

.personInfo {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}